src/copytube/node_modules
src/copytube/public/hot
src/copytube/public/storage
src/copytube/storage/*.key
src/copytube/vendor
src/copytube/.env
src/copytube/.env.backup
src/copytube/.phpunit.result.cache
src/copytube/Homestead.json
src/copytube/Homestead.yaml
src/copytube/npm-debug.log
src/copytube/yarn-error.log
.git
.idea
src/copytube/data/*
src/copytube/resources/js/register.js
src/copytube/resources/js/notifier.js
src/copytube/node_modules
src/copytube/package-lock.json