#logo {
    text-align: center;
}
#logo-image {
    max-width: 100%;
}

body {
    margin-top: 10px;
    height: 2000px;
}

#search {
    margin-top: 10px;
    display: flex;
}
#comment{
    display: flex;
}
.row {
    margin-top: 10px;
}
#main-video-description, #main-video-title {
    margin-bottom: 0;
}
#main-video{
    margin-bottom: 2em;
}
#main-video-video{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}
.rabbit-hole-videos {
    height: 100%;
    width: 100%;
}
.titles{
    padding-left: 0;
    text-align: left;
    align-items: baseline;
}
#search-button{
    font-size: 100%;
    width: 25%;
    border-style: groove;
    border-color: black;
    background-color: lightgrey;
    text-align: center;
}
p {
    font-size: 150%;
}
.media-body {
    font-size: 1rem;
}
#comment-button {
    text-align: center;
    background-color: #f1f1f1;
    width: 20%;
}
.well {
    display: flex;
}
.hidden{
    visibility: hidden;
}