<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CopyTube - Recover Account</title>
    <script src="../../libs/jquery-3.3.1.min.js"></script>
    <!-- accesses bootstrap css files that makes css files much easier to use -->
    <link rel="stylesheet" href="../../libs/bootstrap.min.css" crossorigin="anonymous">
    <!-- accesses bootstrap js files that makes js files much easier to use -->
    <script src="../../libs/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- NOTE: My files are placed after so they overite the files above if needed i.e. my css > their css styles -->
    <!-- links my style sheet (.css) so it can be used -->
    <link rel="stylesheet" href="css/recover.css"/>
    <script src="js/recover.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- Login fields -->
        <div class="col-xs-12">
            <div class="recover">
                <form method="post">
                    <fieldset>
                        <legend><img src="../../images/copytube_logo.png"></legend>
                        <legend>Recover</legend>
                        Email: <br>
                        * <input id="recover-email" class="recover-fields" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"><br>
                        Password: <br>
                        * <input id="recover-password" type='password' class="recover-fields" name='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        <button id="recover-button" type="button" name="submit" value="Submit" onclick="return recover()">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>