<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Copytube</title>
    <script src="../../libs/jquery-3.3.1.min.js"></script>
    <!-- accesses bootstrap css files that makes css files much easier to use -->
    <link rel="stylesheet" href="../../libs/bootstrap.min.css" crossorigin="anonymous">
    <!-- accesses bootstrap js files that makes js files much easier to use -->
    <script src="../../libs/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- NOTE: My files are placed after so they overwrite the files above if needed i.e. my css > their css styles -->
    <!-- links my style sheet (.css) so it can be used -->
    <link rel="stylesheet" href="css/register.css"/>
    <script src="js/register.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <!-- Login fields -->
        <div class="col-xs-12">
            <div class="register">
                <form method="post">
                    <fieldset>
                        <legend><img src="../../images/copytube_logo.png"></legend>
                        <legend>Register</legend>
                        <p id="register-success" class="alert alert-success" hidden>Successfully Registered an Account</p>
                        Username: <br>
                        * <input id="register-username" class="register-fields form-control" type="text" name="username" pattern="/^[a-zA-Z ]*$/">
                        <p id="incorrect-username" class="incorrect-errors"></p>
                        Email: <br>
                        * <input id="register-email" class="register-fields form-control" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <p id="incorrect-email" class="incorrect-errors"></p>
                        Password: <br>
                        * <input id="register-password" class="register-fields form-control" type='password' name='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"> <!-- https://www.w3schools.com/tags/att_input_pattern.asp -->
                        <p id="incorrect-password" class="incorrect-errors"></p>
                        <button id="register-button" class="btn btn-primary" type="button" name="submit" value="Submit" onclick="return validateInput()">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-xs-12>">
            <div class="back">
                <a href="#" id="go-back">Go Back</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>