<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="../public/libs/jquery-3.3.1.min.js"></script>
<link type="text/css" rel="stylesheet" href="../public/libs/bootstrap.min.css" crossorigin="anonymous">
<script type="text/javascript" src="../public/libs/bootstrap.min.js" crossorigin="anonymous"></script>
<link type="text/css" rel="stylesheet" href="../public/css/global.css"/>
<noscript><style>.container{display: none;}</style></noscript>