<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../public/libs/jquery-3.3.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="../public/libs/bootstrap.min.css" crossorigin="anonymous">
    <script type="text/javascript" src="../public/libs/bootstrap.min.js" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css"/>
    <noscript><style>.container{display: none;}</style></noscript>
    <title>Copytube - Login</title>
    <link type="text/css" rel="stylesheet" href="../public/css/login.css"/>
    <script type="text/javascript" src="../public/js/login.js"></script>
</head>
<body>
<!-- Start of Whole Body -->
<div class="container">
    <!-- Start of Login Form Row -->
    <div class="row">
        <!-- Add padding -->
        <div class="col-sm-2 col-md-2"></div>
        <!-- Display form in the middle of the page -->
        <div class="col-xs-12 col-sm-8 col-md-8">
            <form id="login-form">
                <fieldset>
                    <legend><img class="form-logo" src="../public/images/copytube_logo.png" alt="Logo"></legend>
                    <legend class="form-title">Login</legend>
                    <p class="alert alert-danger form-error-message" hidden></p>
                    <label>Email: *</label><input id="login-email" class="form-fields form-control" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    <label>Password: *</label><input id="login-password" type='password' class="form-fields form-control" name='password' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                    <input id="login-button" class="form-submit btn btn-primary" type="button" name="submit" value="Submit">
                </fieldset>
            </form>
            <div id="register">
                <a href="#" id="register-link">Register</a>
            </div>
        </div>
        <!-- Add padding -->
        <div class="col-sm-2 col-md-2"></div>
    </div>
</div>
</body>
</html>
