#comment {
    background: var(--custom-light-grey);
    padding: 1em;
    width: 100%;
    span {
        display: flex;
        textarea {
            padding-right: 3.5em;
            height: 57px;
            resize: none;
        }
        p {
            margin-right: 2em;
            position: absolute;
            right: 0;
            padding: 0.5em;
            color: var(--custom-dark-grey);
        }
    }
    button {
        color: var(--custom-white);
        background: var(--custom-pink);
        margin-top: 0.5em;
        &:hover {
            color: var(--custom-pink);
            background-color: var(--custom-white);
            box-shadow: 0px 0px 5px 2px var(--custom-pink);
        }
    }
}
