/**
 * Start of Form Styling
 */

/* Styling for Forms */
form {
    width: auto;
    text-align: center;
    background: var(--custom-light-grey);
    border: 1px solid var(--custom-grey-border);
    border-radius: 2px;
    width: 316px;
    margin: auto;
}
form > fieldset {
    padding: 2em;
    text-align: left;
}
form > fieldset > legend {
    border-bottom: 1px solid var(--custom-grey-border);
}
form > fieldset > label, form > fieldset > input.form-submit {
    width: 100%;
}
form input.form-submit {
    color: var(--custom-white);
    background-color: var(--custom-pink);
    font: 1em Arial;
    text-decoration: none;
    transition-duration: .5s;
    border: 0;
}
/* Ovewrite Hover Effect Boostrap Adds for Form Input Type Submits */
form input.form-submit:hover {
    color: var(--custom-pink);
    background-color: var(--custom-white);
    color: var(--custom-pink);
    background-color: var(--custom-white);
    box-shadow: 0px 0px 5px 2px var(--custom-pink);
}
/* Styling for Input Fields Inside Forms */
form input.form-field {
    width: auto;
    margin: auto;
    text-align: center;
}
/**
 * End of Form Styling
 */