header {
    position: fixed;
    display: block;
    width: 100%;
    background: var(--custom-light-grey);
    padding: 0.3em;
    margin-bottom: 0.5em;
    padding-top: .9em;
    padding-bottom: .5em;
    border-top: 3px solid #e85e77;
    margin-top: -8em;
    z-index: 2;
    #header-main {
      width: 100%;
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    #header-sub {
      display: flex;
      a.menu-item {
        margin: auto;
        color: var(--custom-pink);
        font-size: 1.5em;
        transition-duration: 1s;
        &:hover {
            font-size: 1.5em;
            text-decoration: none;
            color: var(--custom-pink);
        }
      }
      i.gear {

      }
      .gear-dropdown {
          position: absolute;
          right: 0;
          top: 121px;
          background: var(--custom-grey-border);
          border: 1px solid var(--custom-light-grey);
          p {
            padding: .5em;
            border-bottom: 1px solid var(--custom-black);
            color: var(--custom-pink);
          }
          ul {
            list-style-type: none;
            padding-left: 0;
            text-align: center;
            & li {
              padding: .5em;
              & a {
                color: var(--custom-dark-grey);
                &:hover {
                  text-decoration: none;
                  color: var(--custom-black);
                }
              }
            }
          }
        }
      }
}

$icon_size: 1em;

.gear {
  display: inline-block;
  position: relative;
  margin: $icon_size/5;
  width: $icon_size;
  height: $icon_size;
  background: white;
  border-radius: 50%;
  border: $icon_size/3.5 solid gray;
  box-sizing: border-box;
  margin: auto 1em auto auto;
  transition-duration: .5s;
  
  &:before,
  &:after {
    content: '×';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "times new roman";
    font-weight: bold;
    font-size: $icon_size*2.5;
    color: gray;
  }
  
  &:after {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &:hover {
      cursor: pointer;
  }
  &:focus {
      translate: rotate(180deg);
  }
}
.hide {
  display: none;
}
