// #search {

// }
// #search > #search-bar {
//     width: 74%;
// }
// #search > #search-button {
//     width: 26%;
// }
#search {
    width: 100%;
    border-radius: .25rem;
    top: 0;
    transition-duration: 1s;

    &.stick {
        position: fixed;
        right: 0;
        left: 0;
        width: 30%;
        margin: auto;
        top: 123px;
        z-index: 1;
        width: fit-content;
    }
    & > input:first-of-type {
        border-radius: .25rem 0 0 .25rem;
    }
    & button {
        border-radius: 0 .25rem .25rem 0;
        color: var(--custom-white);
        background: var(--custom-pink);
        &:hover {
            color: var(--custom-pink);
            background-color: var(--custom-white);
            box-shadow: 0px 0px 5px 2px var(--custom-pink);
        }
    }
    & ul#search-bar-matching-dropdown {
        position: absolute;
        background: var(--custom-grey-border);
        list-style-type: none;
        top: 38px;
        width: 100%;
        text-align: left;
        & li {
            padding: 0.5em;
            cursor: pointer;
            width: fit-content;
            color: var(--custom-dark-grey);
            &:hover {
                color: var(--custom-black);
            }
        }
    }
}

#main-video-holder {
    border-bottom: 1px solid var(--custom-grey-border);
    padding-bottom: 1em;
    video {
        width: 100%;
        box-shadow: 0px 0px 10px 1px red;
        width: 100%;
        margin-bottom: 1em;
    }
    h3 {
        width: 100%;
        color: var(--custom-black);
    }
    p {
        margin: auto;
        color: var(--custom-black);
    }
}

#comment {
    background: var(--custom-light-grey);
    padding: 1em;
    width: 100%;
    span {
        display: flex;
        textarea {
            padding-right: 3.5em;
            height: 57px;
            resize: none;
        }
        p {
            margin-right: 2em;
            position: absolute;
            right: 0;
            padding: .5em;
            color: var(--custom-dark-grey);
        }
    }
    button {
        color: var(--custom-white);
        background: var(--custom-pink);
        margin-top: .5em;
        &:hover {
            color: var(--custom-pink);
            background-color: var(--custom-white);
            box-shadow: 0px 0px 5px 2px var(--custom-pink);
        }
    }
}
#comment-list {
    padding: 1em;
    background: var(--custom-light-grey);
    border-radius: 5px;
    width: 100%;
    .media {
        padding: 0.5em;
        .media-left {
            img {
                width: 55px;
                height: 55px;
                border-radius:80%;
            }
        }
        .media-body {
            text-align: left;
            margin-left: .5em;
            h4 {
                color: var(--custom-dark-grey);
            }
            p {
                word-wrap: break-word;
            }
        }
    }
}
#rabbit-hole {
    background: var(--custom-light-grey);
    width: 100%;
    .rabbit-hole-video-holder {
        padding: 0.5em;
        margin: .5em 0 .5em 0;
        display: flex;
        video {
            border-right: 1px solid var(--custom-grey-border);
            width: 168px;
            height: 94px;
            cursor: pointer;
        }
        p {
            margin: 0 auto auto 1em;
        }
    }
}