@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

#overlay-container {
    height: 100vh;
    width: 100vw;
    background: var(--custom-black);
    position: fixed;
    top: 0;
    opacity: 0.5;
    z-index: 10;
    visibility: hidden;
}
#loading-container {
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    z-index: 10;
    width: 200px;
    bottom: 0;
    top: 0;
    height: 20vh;
    //background: var(--custom-dark-grey);
    visibility: hidden;
    //box-shadow: 0px 0px 10px 1px red;
    & > .loading-circles {
        position: absolute;
        background-color: var(--custom-white);
    }
    & > .loading-circles#loading-circle-one {
        left: 0;
        right: 0;
        margin: auto;
        top: 10%;
    }
    & > .loading-circles#loading-circle-two {
        left: 21%;
        top: 34%;
    }
    & > .loading-circles#loading-circle-three {
        right: 21%;
        top: 34%;
    }
    & > .loading-circles#loading-circle-four {
        left: 28%;
        top: 67%;
    }
    & > .loading-circles#loading-circle-five {
        right: 28%;
        top: 67%;
    }
}
