#rabbit-hole {
    background: var(--custom-light-grey);
    width: 100%;
    .rabbit-hole-video-holder {
        padding: 0.5em;
        margin: .5em 0 .5em 0;
        display: flex;
        video {
            border-right: 1px solid var(--custom-grey-border);
            width: 168px;
            height: 94px;
            cursor: pointer;
        }
        p {
            margin: 0 auto auto 1em;
        }
    }
}